
body, h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", sans-serif;
  align-items: left; /* Pack items around the center */    
  margin:0;
}

.main{
  padding: 5%;
}

.heading1 {
    color: #484965;
    left: 50px;
    font-size: 100px;
    opacity: 0.5; 
    display: inline-block;
  }

.heading2 {
    color: #484965;
    position: relative;
    left: 60px;
    font-size: 100px;
    font-family: "Montserrat", sans-serif;
    opacity: 0.6;
    margin-top: 100px; 
  }  

  .heading3 {
    position: relative;
    left: 50px;
    font-size:50px;
    font-family: "Rock 3D";
    opacity: 0.6;
  }  

  .heading4 {
    color: black;
    position: relative;
    left: 100px;
    font-size:15px;
    font-family: "Montserrat", sans-serif;
    opacity: 0.8;
    margin-top: 10px;  
  }  

.video {
  position:relative;
  margin-top:20px;
  width:100%;
}

/*line*/
.hr1 {
  margin-top:20px;
  margin-bottom:20px;
  height:2px;
  width: 80%;
  background-color: #484965;
  opacity: 0.5;
}

.vertical-text{
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: absolute;
  opacity: 0.5;
  margin-top: 100px;
}

.vertical-container{
  display: flex;
  position: absolute;
  height: 130rem;  
  align-items: flex-start;
}

.vertical-subtitle{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size:100px;
  font-weight: bold;
  font-family: "Questrial";
  color: #484965;
  stroke-width: 500px;
  opacity: 0.1;
  padding-left: 5%;
  align-self: flex-start;  
  position:sticky;
  position: -webkit-sticky; /* Safari */
  top:50px;
}

